* {margin:0;padding:0;}
#wall{
    padding-top:100px;
    text-align: center;
}

#wall div kbd {
    position: relative;
    display: inline-block;
    border: 1px solid red;
    margin-right: -1px;
    margin-bottom: -1px;
    font-size: 20px;
    font-weight: 700;
    width: 50px;
    height: 50px;
    line-height: 35px;
}
#wall div kbd button {
    position: absolute;
    bottom:0;
    right:0;
    font-size: 12px;
    border: none;
    outline: none;
    display: none;
}
#wall div kbd:hover button {
    transition: .5s;
    display: block;
}