* {margin:0;padding:0;}
body {
    background: #c45a65 url(https://i.loli.net/2020/12/09/Ewz6TZmFkgQKpYo.png) no-repeat center;
    background-size: cover;
    height: 100vh;
}
#wall{
    padding-top:100px;
    text-align: center;
}

#wall div {
    margin-bottom: 23px;
}
#wall div kbd {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #5c4805;
    border-top: .5px solid #fcc307;
    margin: 0 11px;
    font-size: 20px;
    font-weight: 700;
    width: 90px;
    height: 70px;
    line-height: 35px;
    box-shadow:0px 2px .1px 1px rgb(161,47,47), inset 0px -3px 0px 0px rgb(228, 107, 107);
    background-color: hsl(48, 86%, 67%);
    border-radius: 10px;
}
#wall div kbd button {
    position: absolute;
    bottom:0;
    right:0;
    font-size: 12px;
    border: none;
    outline: none;
    display: none;
}
#wall div kbd:hover button {
    display: block;
}
